<div class="container" ng-controller="LoginCtrl">
	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" ng-hide="isAuthenticated">
		<form name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate> 
			<h1>Login</h1>
			<hr>

			<div class="input-group input-group-lg">
			  	<span class="input-group-addon" id="sizing-addon1" >User</span>
			  	<input name="username" type="text" class="form-control" ng-model="username" required>
		    </div>
		    <div class="alert alert-warning" ng-messages="loginForm.username.$error" ng-show="showErrors">
				<p ng-message="required">You must provide your username.</p>
			</div>
			<br>

			<div class="input-group input-group-lg">
			  	<span class="input-group-addon" id="sizing-addon1" >Pass</span>
			  	<input name="password" type="password" class="form-control" ng-model="password" required>
		    </div>
		    <div class="alert alert-warning" ng-messages="newPostForm.password.$error" ng-show="showErrors">
				<p ng-message="required">You must provide your password.</p>
			</div>
			<br>

			<div class="btn-group" role="group">
				<input type="submit" class="btn btn-lg btn-success" value="Login"></input>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="login_error">
				<p>Username or password are incorrect.</p>
			</div>
			<br>
		</form>
	</div>
	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" ng-show="isAuthenticated">
		<h3>You are already logged in as {{username}}!</h3>
	</div>
</div>